.header {
  float: top;
  margin: auto;
  width: 600px;
  height: 200px;
  padding-top: 20px;
  padding-bottom: 40px;
}

#headerimg {
    position: relative;
    float: top;
    margin: auto;
    padding-top: 45px;
    padding-bottom: 40px;
}

html { 
  background: url(ocean_1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.phead {
    font-family: 'Open Sans';
    color: #097C93;
    font-size: 1.5em;
    font-weight: bold;
}

div.transbox {
    position: relative;
    margin-top: 20px;
    float: top;
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    opacity: 0.6;
    border-radius: 10px;
    padding: 5px;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}