body {
	background-color: #FFFFFF;
	color: white;
	font-family: "Lucida grande", Lucida Grande, sans-serif;
	margin: 10px;
	vertical-align: center;
	text-align: center;
}

h1 {
	background-color: #7DB4B5;
	color: #000000;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	font-family: "Lucida grande";
	text-align: center;
	font-size: 24px;}

.mebox {
	background-color: #E0EFF1;
	color: DarkSlateGray;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: left;
	border-style: groove;
	border-color: #7DB4B5;
	margin-bottom: 1px;
	width: 48%;
	float: left;
	padding-left: 1px;
	padding-right: 1px;
	min-width: 320px;
	min-height: 650px;}

.infobox {
	background-color: #E0EFF1;
	color: DarkSlateGray;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: left;
	border-style: groove;
	border-color: #7DB4B5;
	margin-bottom: 10px;
	width: 48%;
	float: right;
	padding-left: 1px;
	padding-right: 1px;
	min-width: 320px;
	min-height: 650px;}

p.subhead {
	background-color: #7DB4B5;
	color: #000000;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	font-family: "Lucida grande";
	text-align: center;}

p.main {
	background-color: #7ED0D6;
	color: DarkSlateGray;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 75%;
	width: 75%;}

:link {
	color: black;}

:visited {
	color: black;}