body {
  background-color: #FFFFFF;
}

@font-face {
  font-family: 'LeagueGothic';
  src: url('type/LeagueGothic-Regular.otf');
  src: url('type/LeagueGothic-Regular.otf#iefix') format('embedded-opentype'),
    url('type/LeagueGothic-Regular.woff') format('woff'),
    url('type/LeagueGothic-Regular.ttf') format('truetype'),
    url('type/LeagueGothic-Regular.svg') format('svg');}

#header {
    background-image: url('coffeebeans.jpg');
    background-repeat: repeat;
    height: 250px;
    width:100%;
    float: top;
    padding: 5px;
    margin: 0;
}
.vignette {-webkit-box-shadow: inset 0px 0px 200px #000000;
  -moz-box-shadow:    inset 0px 0px 200px #000000;
box-shadow:         inset 0px 0px 200px #000000;}

#left {
  float:left;
  width: 45%;
  text-align: center;
}

#right {
  float:right;
  width: 45%;
  text-align:center;
}

.nav
  {background-color: #2C1901;
  font-family: "Lobster";
  font-color: #DAC189;
  text-align: center;
    font-size: 100%;
    word-spacing: 100px;
    vertical-align: center;
    margin-top:100px;
    margin:auto;
    z-index: 1;
    padding:5px;
    width:100%;
}
.main
  {background-color: #FFFFFF;
  font-family: "Garamond";
  padding: 5px;
  margin: 5px;}

#dream
  {font-style: italic;
    font-family: "Lobster-regular";
    width: 15%;
    margin:auto;
    position: relative;
    -ms-transform: rotate(-5deg); 
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    padding:5px;
  }

#beans
  {font-weight: lighter;
  font-family: "LeagueGothic-Regular";
  text-transform: uppercase;
  border-top: 3px dotted;
  width:15%;
  margin: auto;
  color: white;
  font-weight:100;}

#coffee
  {
  color:white;
  font-family: "LeagueGothic-Regular";
  text-transform: uppercase;
  font-weight:100;}

#footer{
  background-color: #2C1901;
  height:100px;
  text-align:center;
  vertical-align: center;
  padding:20px;
  clear:both;
}


h1 {
  font-family: "chippewa-falls";
  color: #DAC189;
  font-size: 300%;
  text-align: center;
  }

h3 {
  font-family: "Helvetica";
  color: #2C1901;
  }

h4 {
  font-family: "chippewa-falls";
  color: #DAC189;
  padding: 0;
  margin: 0;
 font-weight: normal;
}
  }

li {
  display: inline;
  padding: 0;
    margin: 0;
}

h5 {
  font-family: "Garamond";
  color: #DAC189;
  font-weight:normal;
}